:root {
    --foreground-color: #dfdfe8;
    --background-color: #18181a;
    --highlight-color: #5e3b8f;
    --border-color: transparent;
    --sn-component-foreground-color: var(--foreground-color);
    --sn-component-background-color: transparent;
    --sn-component-foreground-highlight-color: var(--highlight-color);
    --sn-component-outer-border-color: transparent;
    --sn-component-inner-border-color: var(--foreground-color);
    --sn-stylekit-passive-color-0: hsl(220deg 3% 46%);
    --sn-stylekit-passive-color-2: hsl(240deg 3% 16%);
    --sn-stylekit-passive-color-3: hsl(240deg 3% 18%);
    --sn-stylekit-passive-color-4: hsl(240deg 3% 12%);
    --sn-stylekit-passive-color-5: hsl(240deg 3% 14%);
    --sn-stylekit-passive-color-4-opacity-variant: var(--item-cell-selected-background-color);
    --sn-stylekit-shadow-color: #000000;
    --sn-stylekit-info-color: var(--highlight-color);
    --sn-stylekit-info-contrast-color: var(--foreground-color);
    --sn-stylekit-info-backdrop-color: var(--item-cell-selected-background-color);
    --sn-stylekit-neutral-color: var(--foreground-color);
    --sn-stylekit-neutral-contrast-color: var(--foreground-color);
    --sn-stylekit-success-color: hsl(240deg 3% 14%);
    --sn-stylekit-success-contrast-color: var(--foreground-color);
    --sn-stylekit-warning-color: #cf9728;
    --sn-stylekit-warning-contrast-color: var(--foreground-color);
    --sn-stylekit-danger-color: #cd1538;
    --sn-stylekit-danger-contrast-color: var(--foreground-color);
    --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
    --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);
    --sn-stylekit-background-color: var(--background-color);
    --sn-stylekit-foreground-color: var(--foreground-color);
    --sn-stylekit-border-color: var(--border-color);
    --sn-stylekit-contrast-background-color: var(--background-color);
    --sn-stylekit-contrast-foreground-color: var(--foreground-color);
    --sn-stylekit-contrast-border-color: transparent;
    --sn-stylekit-secondary-background-color: var(--sn-stylekit-passive-color-4);
    --sn-stylekit-secondary-foreground-color: var(--foreground-color);
    --sn-stylekit-secondary-border-color: var(--sn-stylekit-success-color);
    --sn-stylekit-secondary-contrast-background-color: #000000;
    --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-color);
    --sn-stylekit-secondary-contrast-border-color: var(--foreground-color);
    --sn-stylekit-paragraph-text-color: #929196;
    --sn-desktop-titlebar-bg-color: var(--background-color);
    --sn-desktop-titlebar-border-color: var(--border-color);
    --sn-desktop-titlebar-ui-color: var(--foreground-color);
    --sn-desktop-titlebar-ui-hover-color: var(--highlight-color);
    --sn-stylekit-scrollbar-track-border-color: var(--border-color);
    --sn-stylekit-scrollbar-thumb-color: hsl(240deg 3% 14%);
    --sn-stylekit-menu-border: 1px solid hsl(240deg 3% 26%);
    --sn-stylekit-accessory-tint-color-1: #5e3b8f;

    /* Overrides */
    --modal-background-color: var(--sn-stylekit-background-color);
    --editor-header-bar-background-color: var(--sn-stylekit-background-color);
    --editor-background-color: var(--sn-stylekit-editor-background-color);
    --editor-foreground-color: var(--sn-stylekit-editor-foreground-color);
    --editor-title-bar-border-bottom-color: var(--sn-stylekit-passive-color-3);
    --editor-title-input-color: var(--sn-stylekit-editor-foreground-color);
    --editor-pane-background-color: var(--sn-stylekit-background-color);
    --editor-pane-editor-background-color: var(--sn-stylekit-editor-background-color);
    --editor-pane-editor-foreground-color: var(--sn-stylekit-editor-foreground-color);
    --editor-pane-component-stack-item-background-color: var(--sn-stylekit-background-color);
    --text-selection-color: var(--sn-stylekit-info-contrast-color);
    --text-selection-background-color: hsl(240deg 3% 18%);
    --note-preview-progress-color: var(--sn-stylekit-info-color);
    --note-preview-progress-background-color: var(--sn-stylekit-passive-color-4-opacity-variant);
    --note-preview-selected-progress-color: var(--sn-stylekit-secondary-background-color);
    --note-preview-selected-progress-background-color: var(--sn-stylekit-passive-color-4-opacity-variant);
    --items-column-background-color: var(--sn-stylekit-background-color);
    --items-column-items-background-color: var(--sn-stylekit-background-color);
    --items-column-border-left-color: var(--sn-stylekit-border-color);
    --items-column-border-right-color: var(--sn-stylekit-border-color);
    --items-column-search-background-color: var(--sn-stylekit-contrast-background-color);
    --item-cell-selected-background-color: hsl(240deg 3% 12%);
    --item-cell-selected-border-left-color: var(--sn-stylekit-info-color);
    --navigation-column-background-color: var(--sn-stylekit-secondary-background-color);
    --navigation-section-title-color: var(--sn-stylekit-secondary-foreground-color);
    --navigation-item-text-color: var(--sn-stylekit-secondary-foreground-color);
    --navigation-item-count-color: var(--sn-stylekit-neutral-color);
    --navigation-item-selected-background-color: hsl(240deg 3% 16%);
    --preferences-navigation-icon-color: var(--sn-stylekit-neutral-color);
    --preferences-navigation-selected-background-color: transparent;
    --dropdown-menu-radio-button-inactive-color: var(--background-color);
    --panel-resizer-background-color: var(--editor-title-bar-border-bottom-color);
    --link-element-color: var(--sn-stylekit-info-color);
    --normal-button-background-color: var(--sn-stylekit-background-color);
    --separator-color: var(--sn-stylekit-passive-color-3);
    --popover-border-color: var(--sn-stylekit-passive-color-3);
}

/* Custom overrides */
.mb-3.flex.max-w-full.flex-col.rounded.border.border-solid.border-border.bg-default.p-6 {
    background-color: var(--sn-stylekit-passive-color-4);
    border-color: var(--sn-stylekit-success-color);
}

.preferences-menu-item.selected:hover {
    border-color: transparent;
    background-color: var(--item-cell-selected-background-color);
}

.preferences-menu-item:hover {
    background-color: var(--item-cell-selected-background-color);
}

.translucent-ui .translucent-ui\:bg-transparent {
    background-color: var(--background-color);
}

.translucent-ui .md\:translucent-ui\:bg-transparent {
    background-color: var(--normal-button-background-color);
}

.underline {
    background-color: transparent;
}

.flex.w-full.flex-row.items-center.justify-between.border-b.border-solid.border-border.bg-default.px-3.pb-2.md\:p-3.pt-2 {
    background-color: var(--sn-stylekit-passive-color-4);
}

#navigation {
    font-weight: 500;
}

/* .font-semibold {
    font-weight: 600;
} */

.text-passive-2 {
    color: var(--sn-stylekit-paragraph-text-color);
}

.border-passive-3 {
    border-color: transparent;
}

[role="menuitem"]:hover {
    background-color: var(--background-color);
}

[role="menuitemcheckbox"]:hover {
    background-color: var(--background-color);
}

[role="menuitemradio"]:hover {
    background-color: var(--background-color);
}

.grid {
    border-color: var(--sn-stylekit-passive-color-3);
}

.focus\:bg-info-backdrop:focus {
    background-color: var(--background-color);
}

[role="search"]>div {
    background-color: var(--item-cell-selected-background-color) !important;
}

.note-view-linking-container>button:hover {
    background-color: var(--sn-stylekit-passive-color-5);
}

.text-success {
    color: #1aa772;
}

/* Markdown Visual editor stylesheet https://github.com/standardnotes/plugins/blob/main/packages/com.sncommunity.markdown-visual/src/components/Milkdown/styles.scss */
.milkdown {
    .editor {
        .tableWrapper table {
            border-color: var(--sn-stylekit-border-color);

            th {
                color: var(--sn-stylekit-neutral-contrast-color);
                border: var(--lineWidth) solid var(--sn-stylekit-passive-color-5) !important;
                background-color: var(--sn-stylekit-passive-color-5) !important;
                background-clip: padding-box;
            }

            td {
                color: var(--sn-stylekit-paragraph-text-color);
                border: var(--lineWidth) solid var(--sn-stylekit-passive-color-3) !important;
                background: inherit;
            }

            .milkdown-cell-top::after {
                background: rgba(70, 70, 71, 0.32) !important;
            }

            .milkdown-cell-top:hover::after {
                background: rgba(70, 70, 71, 1) !important;
            }
        }

        .code-inline {
            color: var(--sn-stylekit-paragraph-text-color);
            background-color: var(--sn-stylekit-passive-color-5);
            padding-bottom: 0.5%;
            padding-top: 0.5%;
            padding-left: 1%;
            padding-right: 1%;
        }

        .slash-dropdown {
            background-color: var(--sn-stylekit-contrast-background-color) !important;
            border-color: var(--sn-stylekit-border-color) !important;

            .slash-dropdown-item {
                color: var(--sn-stylekit-paragraph-text-color) !important;

                .icon {
                    color: var(--sn-stylekit-paragraph-text-color) !important;
                }
            }
        }

        .blockquote {
            background-color: var(--sn-stylekit-passive-color-4) !important;
            border-left: 4px solid var(--highlight-color) !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .blockquote>p {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .hr {
            background-color: var(--sn-stylekit-passive-color-3) !important;
        }

        .list-item::marker {
            color: #505052 !important;
        }

        [data-checked="false"] label {
            color: #505052 !important;
        }

        [data-checked="true"] label {
            color: var(--foreground-color) !important;
        }

        p::selection {
            background-color: var(--text-selection-background-color) !important;
        }

        .link {
            color: var(--highlight-color) !important;
        }

        .link:hover {
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .image {
            background-color: var(--sn-stylekit-passive-color-5) !important;
            cursor: pointer;
        }

        .ProseMirror-selectednode {
            /* outline: transparent !important; */
            outline: rgb(50, 50, 51) solid 1px !important;
        }

        .ProseMirror-selectednode::after {
            background: rgba(223, 223, 232, 0.15) !important;
        }

        .tooltip-input {
            background-color: var(--sn-stylekit-passive-color-5) !important;

            button {
                color: var(--sn-stylekit-paragraph-text-color) !important;
            }

            button:hover {
                background-color: var(--sn-stylekit-passive-color-4) !important;
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Markdown Visual editor support https://github.com/standardnotes/plugins/#directory */
/* ----------------------------------------------------------------------------------------------------------- */

.hr {
    background-color: var(--sn-stylekit-passive-color-3) !important;
}

.milkdown .list-item::marker {
    color: hsl(240deg 3% 28%);
}

.milkdown [data-checked="false"] label {
    color: hsl(240deg 3% 28%) !important;
}

.milkdown [data-checked="true"] label {
    color: var(--foreground-color) !important;
}

/* --- */
.milkdown .material-icons-outlined {
    background-color: var(--sn-stylekit-contrast-background-color) !important;
}

/* --- */
.milkdown .material-icons-outlined:hover {
    background-color: var(--sn-stylekit-passive-color-5) !important;
}

/* --- */
.milkdown .table-tooltip {
    box-shadow: 0px var(--lineWidth) var(--lineWidth) rgba(94, 59, 143, 0.5), 0px 2px var(--lineWidth) rgba(var(--shadow), 0.12), 0px var(--lineWidth) 3px rgba(var(--shadow), 0.2);
    border: (--lineWidth) solid var(--sn-stylekit-success-color);
}

.milkdown .table-tooltip .icon:not(:last-child)::after {
    background: transparent;
}

/* --- */
.milkdown .tableWrapper table .selectedCell::after {
    background: rgba(94, 59, 143, 0.2);
}

/* --- */
.milkdown .tableWrapper table .column-resize-handle {
    background: rgba(94, 59, 143, 1);
}

.milkdown .link {
    color: var(--highlight-color) !important;
}

.milkdown .link:hover {
    background-color: transparent !important;
    box-shadow: none !important;
}

.milkdown .blockquote {
    background-color: var(--sn-stylekit-passive-color-4) !important;
    border-left: 4px solid var(--highlight-color) !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 1rem !important;
}

.milkdown .blockquote>p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.milkdown .code-inline {
    color: var(--sn-stylekit-paragraph-text-color) !important;
    background-color: var(--sn-stylekit-passive-color-5) !important;
    padding-bottom: 0.1%;
    padding-top: 0.1%;
    padding-left: 1%;
    padding-right: 1%;
}

.milkdown .code-fence {
    background-color: var(--sn-stylekit-passive-color-4);
}

.milkdown .token {
    font-family: var(--code);
}

.milkdown .code-fence .code-fence_value {
    box-shadow: none;
    border: transparent;
    background-color: var(--sn-stylekit-passive-color-2);
}

.milkdown .code-fence .code-fence_value>.icon {
    border-left: transparent;
}

.milkdown .code-fence .code-fence_value>.icon:hover {
    color: rgba(94, 59, 143, 1);
    background-color: var(--background-color) !important;
}

.milkdown .code-fence .code-fence_select {
    border: transparent;
    background-color: var(--background-color);
    box-shadow: none;
}

.milkdown .code-fence .code-fence_select>.code-fence_select-option:hover {
    background: var(--sn-stylekit-passive-color-5);
    color: var(--foreground-color);
}

.milkdown .code-fence .code-fence_select::-webkit-scrollbar-thumb {
    background-color: rgba(94, 59, 143, 0.5);
}

.milkdown .code-fence .code-fence_select::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
}

/* --- */
.milkdown ::selection {
    background: var(--text-selection-background-color) !important;
}

.milkdown .image {
    background-color: var(--sn-stylekit-passive-color-5) !important;
    cursor: pointer;
}

/* Trying to override a rule that already has !important property https://stackoverflow.com/questions/11178673/how-to-override-important */
.container .milkdown-container .milkdown-menu-wrapper .milkdown .editor .tableWrapper table th {
    background-color: var(--sn-stylekit-passive-color-5) !important;
    border: var(--lineWidth) solid var(--sn-stylekit-passive-color-5) !important;
}

.milkdown .tableWrapper table td {
    border: var(--lineWidth) solid var(--sn-stylekit-passive-color-3) !important;
}

.milkdown div.tooltip {
    box-shadow: 0px var(--lineWidth) var(--lineWidth) rgba(94, 59, 143, 0.5), 0px 2px var(--lineWidth) rgba(var(--shadow), 0.12), 0px var(--lineWidth) 3px rgba(var(--shadow), 0.2) !important;
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown .tooltip-input button {
    color: var(--sn-stylekit-paragraph-text-color) !important;
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown .tooltip-input button:hover {
    background-color: var(--sn-stylekit-passive-color-4);
}

/* --- */
.container .milkdown-container .milkdown-menu-wrapper .milkdown .tooltip-input input {
    caret-color: var(--sn-stylekit-paragraph-text-color);
}

/* --- */
.container .milkdown-container .milkdown-menu-wrapper .milkdown .tooltip-input {
    box-shadow: 0px var(--lineWidth) var(--lineWidth) rgba(94, 59, 143, 0.5), 0px 2px var(--lineWidth) rgba(var(--shadow), 0.12), 0px var(--lineWidth) 3px rgba(var(--shadow), 0.2);
}

/* --- */
.milkdown .tooltip-input input::placeholder {
    opacity: 0.25;
}

.milkdown .tableWrapper table .milkdown-cell-top {
    background-color: var(--sn-stylekit-passive-color-5) !important;
}

.milkdown .tableWrapper table .milkdown-cell-left {
    background-color: var(--sn-stylekit-passive-color-5) !important;
}

.milkdown .tableWrapper table .milkdown-cell-top:hover::after {
    background: var(--highlight-color) !important;
}

.milkdown .tableWrapper table .milkdown-cell-left:hover::after {
    background: var(--highlight-color) !important;
}

.milkdown .tableWrapper table .milkdown-cell-top::after {
    background: transparent !important;
}

.milkdown .tableWrapper table .milkdown-cell-left::after {
    background: transparent !important;
}

/* Change to rgba */
.milkdown .ProseMirror-selectednode::after {
    background: rgba(94, 59, 143, 0.1) !important;
}

.milkdown .ProseMirror-selectednode {
    outline: var(--lineWidth) solid rgba(var(--line), 0) !important;
}

/* --- */
.container .milkdown-container .milkdown-menu-wrapper .milkdown .editor h1.heading.h1 {
    /* font-size: 2.3rem !important; */
    font-weight: bold;
    /* line-height: 3rem; */
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown .editor h2.heading.h2 {
    /* font-size: 1.8rem !important; */
    font-weight: bold;
    /* line-height: 2.5rem; */
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown .editor h3.heading.h3 {
    /* font-size: 1.3rem !important; */
    font-weight: bold;
    /* line-height: 2rem; */
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown .editor h4.heading.h4 {
    /* font-size: 1rem !important; */
    font-weight: bold;
    /* line-height: 1.5rem; */
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown .editor h5.heading.h5 {
    /* font-size: 0.5rem !important; */
    font-weight: bold;
    /* line-height: 1rem; */
}

.milkdown strong {
    font-weight: bolder !important;
}

.windows-web ::-webkit-scrollbar-thumb,
.windows-desktop ::-webkit-scrollbar-thumb,
.linux-web ::-webkit-scrollbar-thumb,
.linux-desktop ::-webkit-scrollbar-thumb,
.force-custom-scrollbar ::-webkit-scrollbar-thumb {
    background-color: var(--sn-stylekit-passive-color-3);
}

.container .milkdown-container .milkdown-menu-wrapper .milkdown-menu .button.active {
    background-color: var(--sn-stylekit-passive-color-2) !important;
}

.milkdown .cm-editor .cm-line::selection {
    background-color: var(--text-selection-background-color);
}

.milkdown .cm-editor .cm-matchingBracket {
    background-color: transparent;
}

.milkdown .cm-editor .cm-foldPlaceholder {
    background-color: var(--sn-stylekit-passive-color-5);
    border: 1px solid var(--sn-stylekit-passive-color-5);
}

/* ----------------------------------------------------------------------------------------------------------- */
